.modal-header .btn-close{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    right: 8px;
    padding: 0 14px;
    box-sizing: border-box;
    background-color: white;
    &:focus,&:focus-visible{
        outline: none;
        box-shadow: none;
    }
}
.modal-header {
    position: relative;
}