.table{
    &__header{
        width: 100%;
        border: 1px solid $light-grey;
        border-bottom: 0;
        flex-flow: row wrap;
       
    }
    &__footer{
        border: 1px solid $light-grey;
        border-top: 0;
        flex-flow: row wrap;
    }
    &__add,&__edit{
        cursor: pointer;

    }
    @media screen and (max-width: 768px) {
        &__actions{
            margin-bottom: 20px;
        }
    }
}